.sbi_container{
	position:relative;
	margin:0 auto;
	overflow:hidden;
	padding:0;
	background:#000;
	-moz-box-shadow:0px 2px 5px #000;
	-webkit-box-shadow:0px 2px 5px #000;
	box-shadow:0px 2px 5px #000;
	border: solid 10px #126995;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px 4px 4px 4px;
	height: 400px;
	width: 880px;
}
.sbi_panel{
	float:left;
	position:relative;
	height:100%;
	overflow:hidden;
}
.sbi_panel_img{
	position:absolute;
	height:100%;
	top:0px;
	background-repeat:no-repeat;
}
.sbi_label{
	font: 180%/140% Georgia, "Times New Roman", Times, serif;
	display:block;
	width:100%;
	text-align:center;
	height:60px;
	position:absolute;
	bottom:0;
	left:0px;
	background:url(../images/black-bkgd-70.png) repeat;
	cursor:pointer;
	text-shadow:1px 1px 2px #000;
	text-decoration:none;
	color:#fff;
	outline:none;	
	padding: 20px 0 0 0;
}
a.sbi_label {
	color:#fff;
	text-shadow:1px 1px 2px #000;
}
.sbi_label:hover{
	background:url(../images/black-bkgd-90.png) repeat;
	text-decoration:none;
}
.star { 
	width: 20px;
	height: 20px;
	border: 0;
	padding:0; 
	margin:0;
}
.sbi_content{
	position:absolute;
	bottom:80px;
	left:0px;
	width:100%;
	display:none;
	overflow:hidden;
	padding:0; 
	margin:0;
	text-shadow:1px 1px 2px #000;
}
.sbi_content ul{
	font: 80%/150% Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	padding:10px;
	margin:0;
	list-style-type: none;
}
.sbi_content ul li {
	padding:0;
	margin:0;
	list-style-type: none;
}
.sbi_content ul a, .sbi_content ul a:visited {
	color: #fff;
    text-decoration: underline;
}
.sbi_content ul a:hover{
	color: #CCCCCC;
    text-decoration: underline;
}
.arrow { 
	margin:0;
	padding: 0 5px 0 0;
}